.navbar {
  background-color: chocolate;
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 200;
}
.navbar h1,
.navbar .cart,
.navbar .cart span,
.navbar .cart h4,
.navbar .cart p {
  position: relative;
  top: -15px;
}

.cart {
  background-color: brown;
  margin: 15px 0;
  height: 40px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
}

.navbar .cart,
.navbar .cart h4,
.navbar .cart p {
  display: inline-block;
  margin-left: 10px;
}

.navbar .cart p {
  width: 20px;
  height: 25px;
  border-radius: 50px;
}

.navbar .cart:hover {
  cursor: pointer;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
