.card {
  display: flex;
  justify-content: space-between;
  background-color: #c9e4f2;
  padding: 7px;
  border: 1px lightgray solid;
  border-radius: 7px;
  box-shadow: 0 0 1px 1px lightgray;
}

.info p {
  font-size: 12px;
  font-style: italic;
}

.info-btn-link {
  background-color: #337b84;
  border: #337b84;
  color: #fff;
  text-decoration: none;
}
