.menu {
  background-color: #fff;
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 430px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-item-info {
  width: 200px;
  margin-top: 12px;
  padding: 5px;
}

.dish-name {
  font-weight: bold;
}

.dish-desc {
  font-style: italic;
}

.dish-price {
  color: brown;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .menu-item-info {
    margin-top: 50px;
  }
}