.menu {
  background-color: #fff;
  margin: 0 auto;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 430px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-item-info {
  width: 200px;
  margin-top: 12px;
  padding: 5px;
}

.dish-name {
  font-weight: bold;
}

.dish-desc {
  font-style: italic;
}

.dish-price {
  color: brown;
}
.menu-item-actions {
  margin: 20px;
}
.menu-item-actions h4 {
  font-style: bolder;
  display: inline;
  margin: 10px;
}

.menu-item-actions input {
  margin: 10px;
  width: 40px;
}
.menu-item-actions button {
  margin: 10px;
  background-color: brown;
  border-radius: 10px;
  border-color: brown;
}

.text-center {
  text-align: center;
}
